<script src="~/Scripts/jquery.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" value="Get All Employees" id="btn1" />
<input type="button" value="Clear All" id="btn2" />
<br />
<input type="button" value="Get Employee by ID" id="btn3" />

<input type="text" placeholder="Enter Employee ID" id="txt1" />

<br />

<div id="showData">


</div>

<script>

    $(document).ready(function ()
    {
        $("#btn3").click(function ()
        {
            var id = $("#txt1").val();
            $.getJSON('/api/EmployeesData/' + id, function (responseData)
            {
                var item = "<h2>" + responseData + "</h2>";
                $(item).appendTo("#showData");

            });
        });




        $("#btn2").click(function ()
        {
            $("#showData").empty();
        });


        $("#btn1").click(function ()
        {
            $.getJSON('/api/EmployeesData', function (responseData)
            {
                $.each(responseData, function (key, val)
                {
                    var item = "<h2>" + val + "</h2>";
                    $(item).appendTo("#showData");
                });
            });
        });
    });

</script>